/*
* Example style!
* You can do whatever the hell you want on your site :-)
*/

body {
  font-family:Arial,"Liberation Sans",sans-serif;
  background:#000000;
}
#sketchholder {
  border: 1px solid #ffffff;
  /* background-color:#000000; */ 
  background-image: url("../data/background_mh_1.gif");
  background-repeat: no-repeat, repeat;
  background-size: cover; 
  width:1024px;

}

h2 {
  clear:both;
}

p, a {
  font-size:14pt;
  margin:10px 0 0 0;
}

a, a:visited {
  color:#427fed;
}

a:hover nav{
  color:#cccccc;
}

ul li {
  list-style:none;
  overflow:hidden;
  border:1px solid #dedede;
  margin:5px;
  padding:5px;
}

ul li:hover {
  background-color:#f0f3fb;
}


#navholder{
  padding-top:20px;
  margin:0 auto;
  width:500px;
}
#coll{
  float:left;

}
#colr{
  float:right;
  padding-top:10px;

}
#texttospeech{
  color:#000000;
  font-weight: strong;
  font-size:20px;
  border:1px solid #000000;
  background-color:#ffffff;
  padding:10px;
  text-decoration:none;
  width:350px;
  height:20px;
}
#nav{
  color:#ffffff;
  font-weight: strong;
  border:1px solid #ffffff;
  background-color:#000000;
  padding:10px;
  height:20px;
  text-decoration:none;

}